*{
    --air-brown: lightsalmon;
}
body{
    padding: 0px;
    margin: 0px;
}
main{
    height: 100vh;
    display:grid;
    grid-template-rows: 1fr 8fr 0.5fr;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "header header"
    "nav article"
    "footer footer"
}

header{
    grid-area: header;
    background:var(--air-brown,blue);
}
nav{
    grid-area: nav;
    background:lightcoral;
}
article{
    grid-area: article;
    background: lightcyan;
}

footer{
    grid-area: footer;
    background: lightgreen;
}
a{
    display:block;
}

.a-link{
    background: lightgray;
    padding: 1em;
}

.active-link{
    background: lightpink;
}