*{
    --air-background:#fff;
    font-family: sans-serif;
}
body{
    padding: 0px;
    margin: 0px;
}
main{
    height: 100vh;
    display:grid;
    grid-template-rows: 1fr 8fr 0.5fr;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "header header"
    "nav article"
    "footer footer"
}

header{
    grid-area: header;
    background:var(--air-background,#fff);
    font-family: sans-serif;
}

header > section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav{
    grid-area: nav;
    background:var(--air-background,#fff);
}
article{
    grid-area: article;
    background:var(--air-background,#fff);
}

footer{
    grid-area: footer;
    background:var(--air-background,#fff);
}
a{
    display:block;
    text-decoration: none;
}


.a-link{
    text-decoration: underline;
    padding: 1em;
}

.active-link{
    background: lightpink;
}

air-crumb,total-view{
    font-size: 0.8em;
}
small{
    font-size: 0.5em;
}

